@import url('header.css');
@import url('section.css');
@import url('footer.css');
@import url('mobile.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
input, button {
    outline: none;
    border: 1px solid #000;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}